body {
  background-color: #0e0e0e;
  color: white;
}

.container-width {
  width: 90% !important;
  margin: 0 auto;
  margin-top: 60px;
}
.episodes {
  position: relative;
}

.p {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  background-color: red;
  color: white;
  font-weight: bold;
  padding-right: 20px;
  text-align: center;
  padding: 1px;
}

.netflix {
  position: absolute;
  top: 0;
  color: red;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* 
.right {
  margin-left: 5px !important;
  overflow: auto !important;
} */

.net-bg-color {
  background-color: #080808;
  /* margin-top: 60px; */
}
body {
  background-color: #141414;
}
.buttondrop1 {
  width: 75px;
  height: 27px;
}

.ba {
  width: 80px;
  height: 30px;
  background-color: transparent;
  text-align: center;
  border: 1px solid white;
}

i {
  padding-left: 5px;
}

.settings {
  background-color: #f3f3f3;
  height: 50%;
}

.flex-items {
  display: flex;
  justify-content: space-between;
}

.center-elements {
  max-width: 70%;
  margin: 0 auto;
}
.column-1 {
  width: 30%;
}
.column-2 {
  width: 70%;
}
.columns {
  display: flex;
  justify-content: space-between;
}

.left-side {
  text-align: left;
}
.right-side {
  text-align: right;
  /* width: 100%;
  height: 100%; */
}

hr {
  background-color: #b6b4b3;
  width: 100%;
  height: 0.4px;
}

h1 {
  color: #141414;
  font-size: 30px;
}
h2 {
  color: #b6b4b3;
  font-size: 20px;
  text-transform: uppercase;
}

.text-p {
  color: #141414;
  font-weight: bold;
}
.p-light {
  color: #b6b4b3;
}
/* .p {
  color: #57575a;
} */

.profil-img {
  width: 35px;
}

.center-side {
  margin-left: 43%;
}

.btn-color {
  /* background: #f3f3f3; */
  background: #e2e2e2;
  color: #49484a;
}

span {
  border: 2px solid #b6b4b3;
  padding: 0 5px;
  text-transform: uppercase;
}

/* Profile */
.container-profile-1 {
  /* background-color: rosybrown; */
}

.center-elements-profile {
  background-color: #0e0e0e;
  margin: 0 auto;
  width: 80%;
  margin-top: 60px;
}

.perfil-container-2 {
  justify-content: center;
  align-items: center;
  /* background-color: saddlebrown; */
  width: 55%;
  margin: 0 auto;
}
.bg-transparent {
  background-color: transparent;
  border: 3px solid #b6b4b3;
  color: #b6b4b3;
  text-transform: uppercase;
}
.logo-profile {
  width: 15%;
}

.strive-logo {
  width: 65%;
  border-radius: 5px;
}

.heading-profile {
  font-size: 70px;
  color: white;
}

.hr-profile {
  height: 0.2px;
  /* color: red; */
}
.p-profile {
  background-color: #666666;
  padding-right: 300px;
  padding-left: 5px;
  height: 40px;
  color: #e2e2e2;
  font-size: 20px;
}

form {
  color: #e2e2e2;
  font-size: 20px;
}

select {
  background-color: transparent;
  border: 2px solid #e2e2e2;
  padding: 0 10px;
  color: white;
}

.h5 {
  background-color: #333333;
  display: inline-block;
  padding: 5px;
  margin: 10px 0;
  color: #e2e2e2;
}

.btn-transparent {
  border: 1px solid #e2e2e2;
  padding: 10px 30px;
  text-align: center;
  background-color: transparent;
  color: #b6b4b3;
}

.btn-bottom {
  height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 70px 0;
}
