body {
  background-color: #0e0e0e;
  color: white;
}

.container-width {
  width: 90% !important;
  margin: 0 auto;
  margin-top: 60px;
}
.episodes {
  position: relative;
}

.p {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  background-color: red;
  color: white;
  font-weight: bold;
  padding-right: 20px;
  text-align: center;
  padding: 1px;
}

.netflix {
  position: absolute;
  top: 0;
  color: red;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* 
.right {
  margin-left: 5px !important;
  overflow: auto !important;
} */

.net-bg-color {
  background-color: #080808;
  /* margin-top: 60px; */
}
body {
  background-color: #141414;
}
.buttondrop1 {
  width: 75px;
  height: 27px;
}

.ba {
  width: 80px;
  height: 30px;
  background-color: transparent;
  text-align: center;
  border: 1px solid white;
}

i {
  padding-left: 5px;
}

.settings {
  background-color: #f3f3f3;
  height: 50%;
}

.flex-items {
  display: flex;
  justify-content: space-between;
}

.center-elements {
  max-width: 70%;
  margin: 0 auto;
}
.column-1 {
  width: 30%;
}
.column-2 {
  width: 70%;
}
.columns {
  display: flex;
  justify-content: space-between;
}

.left-side {
  text-align: left;
}
.right-side {
  text-align: right;
  /* width: 100%;
  height: 100%; */
}

hr {
  background-color: #b6b4b3;
  width: 100%;
  height: 0.4px;
}

h1 {
  color: #141414;
  font-size: 30px;
}
h2 {
  color: #b6b4b3;
  font-size: 20px;
  text-transform: uppercase;
}

.text-p {
  color: #141414;
  font-weight: bold;
}
.p-light {
  color: #b6b4b3;
}
/* .p {
  color: #57575a;
} */

.profil-img {
  width: 35px;
}

.center-side {
  margin-left: 43%;
}

.btn-color {
  /* background: #f3f3f3; */
  background: #e2e2e2;
  color: #49484a;
}

span {
  border: 2px solid #b6b4b3;
  padding: 0 5px;
  text-transform: uppercase;
}
